{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": "airbnb-base",
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "no-console": "off",
        "linebreak-style": "off",
        "indent": "off",
        "no-trailing-spaces": "off",
        "eol-last": "off",
        "no-unused-vars": "off", 
        "no-undef": "off"
    }
}
